@tailwind base;
@tailwind components;
@tailwind utilities;

*{
   background-color: #f3f4f6;
   font-family: Arial, sans-serif;
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   text-decoration: none;
   list-style: none;
   color: #333;
}